body {
	font-size: 14px;
	font-family: Arial;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

/*container*/

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

/*intro*/

.intro {
	background: url("../images/Layer 34.png") no-repeat center top / cover;
}

.intro__inner {
	padding: 260px 0 155px;
	position: relative;
}

.intro__titles {
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
	text-align: center;
}

.intro__title {
	font-size: 65px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 35px;
	font-family: 'Open Sans Bold', arial;
}

.intro__text {
	font-size: 22px;
	color: #fff;
	display: block;
	text-align: center;
	line-height: 33px;
	font-family: 'Raleway', arial;
}

.button {
	display: block;
	background: #e84545;
	color: #fff;
	text-transform: uppercase;
	padding: 18px 0;
	margin: 75px auto 0;
	width: 200px;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	font-weight: 600;
	font-family: 'Raleway', arial;
	border-radius: 2px;
}



/*header*/

.header {
	padding: 38px 0;	
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 1170px;
	justify-content: space-between;
	margin: 0 auto;
	align-items: center;
	border-bottom: 1px solid #505269;
}


/*nav*/

.nav__item {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	margin-left: 60px;
	font-family: 'Raleway Bold', arial;
	opacity: 75%;
}


/*features*/

.features__inner {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: space-around;
	padding: 45px 0 120px;
}

.features__item {
	max-width: 100%;
	width: 320px;
	text-align: center;
	margin-top: 75px;
}

h2 {
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Raleway Bold', arial;
	margin: 34px 0 26px;
}

.features__item p {
	color: #6c7279;
	font-family: 'Raleway', arial;
	line-height: 21px;
}

/*works*/

.works__inner {
	width: 100%;
	max-width: 1900px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

.works__item {
	width: 25%;
}

.works_img {
	display: block;
	width: 100%;
	height: 100%;
}

/*team*/

.team__inner {
	display: flex;
	justify-content: space-between;
	padding: 100px 0;
}

.team__item {
	width: 270px;	
	max-width: 25%;
}

h3 {
	font-size: 22px;
	color: #2d3033;
	font-family: 'Raleway', arial;
	font-weight: normal;
	margin: 30px 0 15px;
}

h4 {
	color: #e84545;
	font-size: 13px;
	font-family: 'Raleway', arial;
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: 30px;
}

.team__text {
	color: #6c7279;
	line-height: 21px;
	font-family: 'Raleway', arial;
	margin-bottom: 30px;
}

/*social*/

.social {
	display: flex;
}

.social__item {
	border: 1px solid #e8ecee;
	width: 40px;
	height: 40px;
	text-align: center;
	padding-top: 10px;
	margin-right: 5px;
}


/*clients*/

.clients__inner {
	display: flex;
}

.clients__item {
	width: 50%;
}


/*quote*/

.quote__block {
	background: #53354a
}

.clients__quote {
	font-family: 'Cardo Italic', arial;
	font-size: 36px;
	line-height: 42px;
	color: #fff;
	font-style: italic;
	width: 500px;
	margin: 80px 0 40px 85px;
}

.quote__author {
	font-size: 13px;
	font-weight: bold;
	font-family: 'Raleway Bold', arial;
	color: #fff;
	margin-left: 85px;
	font-style: normal;
}

/*slider*/

.slider {
	display: flex;
	margin:65px 0 0 285px;
	margin-bottom: 70px;
}

.slider__item {
	display: block;
	border-radius: 50%;
	background: #fff;
	width: 12px;
	height: 12px;
	content: "";
	margin-right: 8px;
	border: 1px solid #fff;
	opacity: 20%
}

.slider__item:hover {
	opacity: 1;
}


/*download*/

.download__inner {
	width: 655px;
	margin: 0 auto;
	text-align: center;
	padding: 100px 0;
}

.download__subtitle {
	font-size: 28px;
	font-family: 'Raleway', arial;
	color: #2d3033;
}

.download__suptitle {
	color: #2d3033;
	font-family: 'Raleway Bold', arial;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 20px 0 40px;
}

.download__button {
	width: 280px;
}

/*share*/

.share {
	background: #3a3e64;
	padding: 70px 0 120px 0; 
}

.share__item {
	width: 370px;
	text-align: center;
	
}

.share__inner {
	display: flex;
	justify-content: space-between;

}

h5 {
	font-family: 'Raleway Bold', arial;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.share__text {
	font-size: 14px;
	line-height: 22.5px;
	color: #fff;
	opacity: 40%

}

.share__social {
	justify-content: center;
}

.share__social .social__item {
	border: 2px solid #fff;
}

/*footer*/

.footer {
	background: #313454;
	padding: 30px 0;
}

.footer__text {
	color: #fff;
	opacity: 40%;
	width: 330px;
	margin: 0 auto;
}


